.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
}

.Lobby {
  width: 300px;
  height: 100%;
  background-color: #23272A; 
  color: #FFFFFF;
  padding: 10px;
  overflow-y: auto;
}

.Version {
  text-align: center;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
