/* src/TicTacToeBoard.css */

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    margin: 0 auto;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: #4f377a;
    border: 2px solid #000;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .square:hover {
    background-color: #ca79d1;
  }
  