/* src/TicTacToeBoard.css */

body {
    background-color: #120729; 
    margin: 0; 
    padding: 0; 
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: top;
  }

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    margin: 0 auto;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: #4b3377;
    border: 2px solid #000;
    font-size: 5em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .square:hover {
    background-color: #9e71a3;
  }
  